<!DOCTYPE html>
<html>
<head>
    <link href="style.css" rel="stylesheet">
    <title>Control panel login</title>
    </head>
<body>
    <main>
    <div class="loginform">
        <table style="width:100%; text-align: center">
        
            <th style="margin: 10px;background-color:#5d92bb;font-family: arabic;padding: 15px;border-radius:30px;color: #f1e3e3; font-size: 30px">لوحة التحكم</th>
            <tr>
                <td class="titles">
                اسم المستخدم
                </td>
            </tr>
              <tr>
                <td>
            <input type="text" class="input">
                </td>
            </tr>
            <tr>
                <td class="titles">
                كلمة المرور
                </td>
            </tr>
                 <tr>
                <td>
            <input type="password" class="input">
                </td>
            </tr>
            <tr>
                <td>
            <button class="button">تسجيل الدخول</button>
                </td>
            </tr>
        </table>
    </div>
        </main>
    </body>
</html>
