<!DOCTYPE html>
<html>
    <head>
        <title>تسجيل الرغبات</title>
<style>
    @font-face{
    font-family:"arabic";
    src:url("neckar-regular.ttf");
}           
    @font-face{
        font-family:"arabic2";
        src:url(GE_SS_Unique_Light.otf);
    }
    .majorsbuttons{
        text-align: center;
        background-color: #a1bcd1;
        border-radius: 40px;
        border: none;
        color:#184E6E;
        width: 100px;
        font-family: arabic;
       
    }
        </style>
    </head>
    <body style="margin: 0px">
        
            <table style="width: 100%; height: 60px ;background-color: #7d0202; padding: 0px;
                          border-collapse: collapse;position: fixed;top: 0px;z-index: 10px">
                
                
            <th style="background-color: #a1bcd1
                        ;margin: 0px; width: 75px ;text-align: center">
                <table style="text-align: center ;margin: auto">
              
                   <th>
                       <a href="login.htm" target="_blank">
                       
                            <div style="background-color:#184E6E
                                 ;width: 10px;height: 10px;border-radius:10px ;margin: 5px">
                </div> 
                        <div style="background-color:#184E6E
                                    ;width: 10px;height: 10px;border-radius:10px ;margin: 5px">
                </div>
                        <div style="background-color:#184E6E
                                    ;width: 10px;height: 10px;border-radius:10px ;margin: 5px">
                </div>
                       
                       </a>
                    
                    </th>
                    
                </table>
               
                </th>
            <th style="text-align: right ;padding: 10px; font-family: arabic;color: white">شعار الجامعة</th>
            </table>
        <div style="position: fixed;bottom: 0px;z-index: 10 ;width: 100%
                    ;border-collapse:collapse">
            <!--pages-->
            <table style="width: 100%;border-collapse: collapse">
            
                <th style="width: 100% ;height: 30px;background-color: #5d92bb;border-collapse:collapse">
                
                    <button class="majorsbuttons">حاسبات</button>
                    <button class="majorsbuttons">اتصالات</button>
                    <button class="majorsbuttons">طاقة</button>
                    <button class="majorsbuttons">مدني</button>
                    <button class="majorsbuttons">عماره</button>
                    <button class="majorsbuttons">ميكانيكا</button>
                   
                    
                </th>
                <!--signing in part-->
            <tr>
              <table style="width: 100%; height: 90px ;background-color: #7d0202; padding: 10px;margin: 0px;
                          ">
                   <th style="width: 100px">
                       <button style="border:none;border-radius: 40px;padding: 8px ;width: 150px;font-family: arabic; color: #001623;background-color: #5d92bb">تسجيل الدخول</button>
                   </th>
                     <th style="text-align: right">
                        
                          <input type="text" style="padding: 6px;
                                                    margin-right: 20px; border-radius:40px;
                                                    border:none;
                                                    text-align: right;
                                                    width: 200px;
                                                    background-color: #f1e3e3;
                                                    padding-right: 20px" placeholder="كلمة السر">
                         
                           <input type="text" style="padding: 6px;border-radius:40px;border:none;text-align: right;width: 200px;background-color: #f1e3e3;padding-right: 20px" 
                                  placeholder="الرقم القومي">
                   </th>
                  
            </table>
                </tr>
            </table>   
      
            
        </div>
               
       <h1 style="font-family: arabic2;text-align: right;margin-top: 70px; margin-right: 20px;font-size: 50px">التعريف بالقسم</h1>
        <iframe src="mech.html" style="height:390px ;width: 100%;border:none"></iframe>
       
</body>
</html>